#content .category {
  margin-top: 40px; }
  #content .category .title {
    margin-top: 12px;
    font-family: Nevis;
    font-size: 2.8em;
    color: black;
    text-transform: uppercase;
    text-decoration: none;
    margin: 0;
    padding: 0; }
    #content .category .title:hover {
      text-decoration: underline; }
  #content .category .description {
    padding: 0;
    margin: 0;
    font-family: Ubuntu;
    font-weight: normal;
    font-size: 1.6em; }
  #content .category .article {
    margin-top: 16px; }
    #content .category .article a {
      font-family: Nevis;
      font-size: 1.6em;
      color: black;
      text-transform: uppercase;
      text-decoration: none;
      margin: 0;
      padding: 0; }
      #content .category .article a:hover {
        text-decoration: underline; }
  #content .category .body {
    padding: 0;
    margin: 0;
    font-family: Ubuntu;
    font-weight: normal;
    font-size: 1.2em; }

.resource_links, .active_category {
  display: block; }
  .resource_links a, .resource_links input, .active_category a, .active_category input {
    background: white;
    color: #666666;
    font-weight: normal;
    border: none;
    cursor: pointer;
    text-decoration: none;
    font-family: Absolut;
    font-size: 1.6em; }
    .resource_links a:hover, .resource_links input:hover, .active_category a:hover, .active_category input:hover {
      text-decoration: underline; }
  .resource_links form, .resource_links div, .active_category form, .active_category div {
    display: inline; }
