@import "fonts"

body
  margin: 0
  background: white
  color: black
  font-size: 62.5%

#header
  padding: 0
  
  a#branding
    display: block
    padding: 0 18px
    text-decoration: none
    margin-top: -8px
    color: black
   
    .title
      font-size: 7.2em
      font-family: Ubuntu
      font-weight: bold

    .subtitle
      font-size: 2.4em
      :font-family "Gauntlet Classic"
      :margin -6px 0 0 6px

#content
  padding: 16px 48px
  h1
    font-family: 'Absolut Pro'
    margin-top: 20px
    font-size: 6em

  h2
    font-family: Nevis
    text-transform: uppercase
    font-size: 1.6em

//@import ../forms.sass
