.article
  :padding 36px
  border-bottom: 1px solid #B5C4DE
  &.even
    background: #ECEFF4
  a.title
    font:
      family: Ubuntu
      size: 3.2em
    color: black
    text-decoration: none
    margin: 0
    padding: 0
    &:hover
      text-decoration: underline
  .body
    :padding-top 0
    :margin-top 0
    :font-family Serif, Georgia
    :font-weight normal
    :font-size 1.6em

  .info
    div
      float: left
      padding-right: 4px
      :color #666
    div.comments

      float: right
      a
        :color #0065BA
        :text-decoration none
      a:hover
        :text-decoration underline
    font:
      family: Ubuntu
      size: 1.4em


  .teaser
    font:
      family: Ubuntu
      size: 1.6em
    font-style: italic

.resource_links, .active_category
  :display block
  :margin-bottom 20px
  a, input
    :color #666
    :font-weight normal
    :border none
    :cursor pointer
    :text-decoration none
    :font-family Absolut
    :font-size 1.6em
    &:hover
      :text-decoration underline
  form, div
    display: inline

.active_category
  :margin-bottom 0
  :padding-bottom 0
  :font-size 1.5em  

#comments
  margin-top: 24px
