.article
  :margin-bottom 24px
  a.title
    font:
      family: Nevis
      size: 2.1em
    color: black
    text-transform: uppercase
    text-decoration: none
    margin: 0
    padding: 0
    &:hover
      text-decoration: underline
  p.body
    :padding-top 0
    :margin-top 0
    :font-family Ubuntu
    :font-weight normal
    :font-size 1.2em

.resource_links
  :display block
  :margin-bottom 20px
  a, input
    :background white
    :color #666
    :font-weight normal
    :border none
    :cursor pointer
    :text-decoration none
    :font-family Absolut
    :font-size 1.6em
    &:hover
      :text-decoration underline
  form, div
    display: inline
