.article {
  padding: 24px 36px;
  border-bottom: 1px solid #b5c4de; }
  .article.even {
    background: #eceff4; }
  .article a.title {
    font-family: "Brawler", Serif;
    font-size: 2.7em;
    color: black;
    text-decoration: none;
    margin: 0;
    padding: 0; }
    .article a.title:hover {
      text-decoration: underline; }
  .article .body {
    padding-top: 0;
    margin-top: 0;
    font-family: Serif, Georgia;
    font-weight: normal;
    font-size: 1.6em; }
  .article .info {
    font-family: "Brawler", Serif;
    font-size: 1.4em; }
    .article .info div {
      float: left;
      padding-right: 4px;
      color: #444444; }
  .article div.comments {
    float: right;
    padding-right: 4px;
    color: #444444;
    font-family: "Brawler", Serif;
    font-size: 1.5em;
    font-weight: bold; }
    .article div.comments a {
      color: #0065ba;
      text-decoration: none; }
    .article div.comments a:hover {
      text-decoration: underline; }
  .article .teaser {
    font-family: Ubuntu;
    font-size: 1.6em;
    font-style: italic; }

.resource_links {
  display: block;
  margin-bottom: 20px; }
  .resource_links a, .resource_links input {
    color: #666666;
    font-weight: normal;
    border: none;
    cursor: pointer;
    text-decoration: none;
    font-family: "Ubuntu", Serif;
    font-size: 1.2em; }
  .resource_links form, .resource_links div {
    display: inline; }

.active_category {
  margin-bottom: 0;
  padding-bottom: 0; }
  .active_category a {
    color: #0065ba;
    text-decoration: none; }
    .active_category a:hover {
      text-decoration: underline; }

#comments {
  margin-top: 24px; }
