.article {
  margin-bottom: 24px; }
  .article a.title {
    font-family: Nevis;
    font-size: 2.1em;
    color: black;
    text-transform: uppercase;
    text-decoration: none;
    margin: 0;
    padding: 0; }
    .article a.title:hover {
      text-decoration: underline; }
  .article p.body {
    margin-top: 20px;
    padding-top: 0;
    font-family: Ubuntu;
    font-weight: normal;
    font-size: 1.2em; }
  .article .resource_links {
    display: block;
    margin-left: -6px; }
    .article .resource_links a, .article .resource_links input {
      background: white;
      color: #666666;
      font-weight: bold;
      border: none;
      cursor: pointer;
      text-decoration: none;
      font-family: Ubuntu;
      font-size: 1.1em; }
      .article .resource_links a:hover, .article .resource_links input:hover {
        text-decoration: underline; }
    .article .resource_links form, .article .resource_links div {
      display: inline; }
