#error_explanation, #errorExplanation
  :font-family Nevis
  :width 100%
  :left 0
  :color white
  :padding 0
  :background #DF0019

  h2, p
    :display none
  ul
    :list-style-type none
    :font-size 1.8em
    :padding 0 0 0 24px
    :margin 16px 0

    li
      :margin 3px

#content
  form
    .fields
      .field_with_errors
        label
          color: #DF0019
        input
          &[type=text], &[type=password]
            border: 1px solid #DF0019
            background: #FFBAC2
