#navigation
  width: 100%
  height: 48px
  font-family: Ubuntu
  padding-bottom: 2px
  border-bottom: 1px dotted #ccc
  a
    font-size: 1.2em
    color: black
    float: left
    display: block
    :font-weight normal
    :position relativ
    :text-decoration none
    :padding 0 6px 8px 6px
    :margin 0
    &.title
      :font-weight bold
      :font-size 2.4em
      &:hover
        :text-decoration none
    &:hover
      :text-decoration underline
  .section
    :padding 8px
    :float left
    &.home, &.articles, &.categories
      a.title
        :border-bottom 2px solid white
    &.nav_item, &.home, &.articles, &.categories, &.writers
      a.title
        :color #789BC3
        &:hover, &.active
          :color #0065BA
          :border-bottom 2px solid #0065BA
