#content .fields {
  margin-bottom: 8px;
  margin-top: 16px; }
  #content .fields label {
    font-family: Nevis;
    font-size: 1.1em; }
  #content .fields input[type=text], #content .fields input[type=password], #content .fields select, #content .fields textarea {
    font-family: Ubuntu;
    display: block;
    padding: 2px 4px;
    margin-top: 4px;
    font-size: 1.7em;
    font-weight: normal;
    background: #efefef;
    border: 1px solid #cccccc; }
  #content .fields input[type=submit] {
    font-family: Ubuntu;
    font-size: 1.6em;
    margin-top: 12px; }
  #content .fields.date label {
    display: block; }
  #content .fields.date select {
    display: inline; }
#content.auth .fields input[type=text], #content.auth .fields input[type=password], #content.auth .fields select {
  padding: 3px 6px;
  margin-top: 4px;
  font-size: 2.4em; }
#content .form_links {
  margin-top: 18px; }
  #content .form_links a {
    padding: 4px;
    color: #333333;
    display: block;
    font-size: 1.1em;
    text-decoration: none;
    font-family: Nevis;
    border-left: 3px solid white; }
    #content .form_links a:hover {
      background: #efefef;
      color: black;
      border-left: 3px solid #0065ba; }
