#navigation {
  width: 100%;
  height: 48px;
  font-family: Ubuntu;
  padding-bottom: 2px;
  border-bottom: 1px dotted #cccccc; }
  #navigation a {
    font-size: 1.2em;
    color: black;
    float: left;
    display: block;
    font-weight: normal;
    position: relativ;
    text-decoration: none;
    padding: 0 6px 8px 6px;
    margin: 0; }
    #navigation a.title {
      font-weight: bold;
      font-size: 2.4em; }
      #navigation a.title:hover {
        text-decoration: none; }
    #navigation a:hover {
      text-decoration: underline; }
  #navigation .section {
    padding: 8px;
    float: left; }
    #navigation .section.home a.title, #navigation .section.articles a.title, #navigation .section.categories a.title {
      border-bottom: 2px solid white; }
    #navigation .section.nav_item a.title, #navigation .section.home a.title, #navigation .section.articles a.title, #navigation .section.categories a.title, #navigation .section.writers a.title {
      color: #789bc3; }
      #navigation .section.nav_item a.title:hover, #navigation .section.nav_item a.title.active, #navigation .section.home a.title:hover, #navigation .section.home a.title.active, #navigation .section.articles a.title:hover, #navigation .section.articles a.title.active, #navigation .section.categories a.title:hover, #navigation .section.categories a.title.active, #navigation .section.writers a.title:hover, #navigation .section.writers a.title.active {
        color: #0065ba;
        border-bottom: 2px solid #0065ba; }
