#search {
  background: #666666;
  padding: 4px 8px 4px 12px;
  height: 34px; }
  #search input[type=text] {
    width: 78%;
    background: #aaaaaa;
    border: 1px solid #bbbbbb;
    padding: 6px 8px;
    font-size: 1.4em; }
  #search input[type=submit] {
    background: #333333;
    color: white;
    border: 1px solid #222222;
    padding: 6px 8px;
    font-family: Ubuntu, Absolut; }

#session, #feeds {
  float: left;
  text-align: center;
  padding: 8px 0;
  margin: 0 0 0 12px; }
  #session a, #feeds a {
    font-family: Ubuntu, Absolut;
    margin-right: 8px;
    color: black;
    font-size: 1.6em;
    text-decoration: none; }
    #session a:hover, #feeds a:hover {
      text-decoration: underline; }

#feeds {
  float: right; }
  #feeds a {
    background: #d64d1d;
    margin-right: 0;
    color: white;
    padding: 4px 8px 6px 8px;
    font-family: Ubuntu;
    font-weight: bold;
    font-size: 1.4em; }
