@font-face {
  font-family: "Ubuntu";
  src: url("/fonts/ubuntu_bold.ttf");
  font-weight: bold; }

@font-face {
  font-family: "Ubuntu";
  src: url("/fonts/ubuntu_regular.ttf");
  font-weight: normal; }

@font-face {
  font-family: "Ubuntu";
  src: url("/fonts/ubuntu_bold_italic.ttf");
  font-weight: bold;
  font-style: italic; }

@font-face {
  font-family: "Ubuntu";
  src: url("/fonts/ubuntu_italic.ttf");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: "Gauntlet";
  src: url("/fonts/gauntlet_classic.otf");
  font-weight: regular; }

@font-face {
  font-family: "Absolut";
  src: url("/fonts/absolut_pro.otf");
  font-weight: regular; }

@font-face {
  font-family: "Sansation";
  src: url("/fonts/Sansation_Bold.ttf");
  font-weight: bold; }

@font-face {
  font-family: "Nevis";
  src: url("/fonts/nevis.ttf");
  font-weight: bold; }

body {
  margin: 0;
  background: white;
  color: black;
  font-size: 62.5%; }

#header {
  padding: 0;
  margin-bottom: 20px; }
  #header a#branding {
    display: block;
    padding: 0 18px;
    text-decoration: none;
    margin-top: -8px;
    color: black; }
    #header a#branding .title {
      font-size: 7.2em;
      font-family: Ubuntu;
      font-weight: bold; }
    #header a#branding .subtitle {
      font-size: 2.4em;
      font-family: "Gauntlet Classic";
      margin: -6px 0 0 6px; }

#content {
  width: 96%%;
  float: left;
  padding: 24px 2%; }
  #content h1 {
    font-family: "Absolut Pro";
    margin-top: 20px;
    font-size: 6em; }
  #content h2, #content h3 {
    font-family: Nevis;
    margin: 0; }
  #content h2 {
    font-size: 4em; }
  #content h3 {
    font-size: 2.8em; }
  #content h4, #content h5 {
    font-family: Ubuntu;
    text-transform: uppercase;
    margin: 0; }
  #content h4 {
    font-size: 2.1em; }
  #content h5 {
    font-size: 1.6em; }
  #content #primary, #content #secondary, #content #tertiary {
    float: left;
    padding: 20px 2%; }
  #content #primary {
    width: 39%; }
    #content #primary #articles, #content #primary #testimonials {
      width: 100%; }
  #content #secondary {
    width: 28%;
    border-left: 2px solid #cccccc; }
    #content #secondary #links {
      width: 100%; }
  #content #tertiary {
    width: 20%;
    background: #efefef;
    border-left: 2px solid #aaaaaa;
    font-family: Ubuntu;
    font-size: 1.2em; }
    #content #tertiary .title {
      font-size: 1.4em;
      margin-top: 8px; }
    #content #tertiary ul {
      list-style-type: none;
      padding: 0 0 0 12px; }
      #content #tertiary ul li {
        margin-bottom: 12px; }

#categories a.category {
  font-family: Ubuntu, Nevis, Sans;
  text-decoration: none;
  color: #0065ba;
  margin: 4px 0;
  font-size: 1.2em;
  display: block; }
  #categories a.category:hover {
    text-decoration: underline; }
