@font-face {
  font-family: "Ubuntu";
  src: url("/fonts/ubuntu_bold.ttf");
  font-weight: bold; }

@font-face {
  font-family: "Ubuntu";
  src: url("/fonts/ubuntu_regular.ttf");
  font-weight: normal; }

@font-face {
  font-family: "Ubuntu";
  src: url("/fonts/ubuntu_bold_italic.ttf");
  font-weight: bold;
  font-style: italic; }

@font-face {
  font-family: "Ubuntu";
  src: url("/fonts/ubuntu_italic.ttf");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: "Gauntlet";
  src: url("/fonts/gauntlet_classic.otf");
  font-weight: regular; }

@font-face {
  font-family: "Absolut";
  src: url("/fonts/absolut_pro.otf");
  font-weight: regular; }

@font-face {
  font-family: "Sansation";
  src: url("/fonts/Sansation_Bold.ttf");
  font-weight: bold; }

@font-face {
  font-family: "Nevis";
  src: url("/fonts/nevis.ttf");
  font-weight: bold; }

body {
  margin: 0;
  background: white;
  color: black;
  font-size: 62.5%; }

#sidebar {
  padding: 0;
  float: left;
  margin-bottom: 20px;
  color: black;
  background: #a5bae8;
  /* background: -moz-linear-gradient(left, #376deb 0%, #1b4dc0 100%) */
  /* background: -webkit-gradient(linear, left top, right top, color-stop(0%,#376deb), color-stop(100%,#1b4dc0)) */
  /* background: -webkit-linear-gradient(left, #376deb 0%,#1b4dc0 100%) */
  /* background: -o-linear-gradient(left, #376deb 0%,#1b4dc0 100%) */
  /* background: -ms-linear-gradient(left, #376deb 0%,#1b4dc0 100%) */
  /* background: linear-gradient(left, #376deb 0%,#1b4dc0 100%) */
  /* filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#376deb', endColorstr='#1b4dc0',GradientType=1 ) */
  border-right: 10px solid #dee4f0;
  height: 100%; }
  #sidebar a#branding {
    display: block;
    padding: 18px 18px 30px 18px;
    text-decoration: none;
    margin-top: -8px;
    color: white;
    background: #1a47a2; }
    #sidebar a#branding .title {
      font-size: 7.2em;
      font-family: Ubuntu;
      font-weight: bold; }
    #sidebar a#branding .subtitle {
      font-size: 2.4em;
      font-family: "Gauntlet Classic";
      margin: -6px 0 0 6px; }
  #sidebar #categories {
    float: left;
    padding: 20px 5%;
    width: 90%;
    font-family: Ubuntu;
    font-size: 1.8em; }
    #sidebar #categories h5 {
      text-align: center;
      font-size: 1.8em;
      margin: 0; }
    #sidebar #categories .title {
      font-size: 2.2em;
      margin-top: 8px; }
    #sidebar #categories ul {
      list-style-type: none;
      padding: 0 0 0 12px; }
      #sidebar #categories ul li {
        margin-bottom: 12px; }

#content {
  width: 80%;
  padding: 24px 10%; }
  #content h1 {
    font-family: "Absolut Pro";
    margin-top: 20px;
    font-size: 6em; }
  #content h2, #content h3 {
    font-family: Nevis;
    margin: 0; }
  #content h2 {
    font-size: 4em; }
  #content h3 {
    font-size: 2.8em; }
  #content h4, #content h5 {
    font-family: Ubuntu;
    text-transform: uppercase;
    margin: 0; }
  #content h4 {
    font-size: 2.1em; }
  #content h5 {
    font-size: 1.6em; }
  #content #primary {
    float: left;
    padding: 20px 2%; }
  #content #primary {
    width: 60%; }
    #content #primary #articles, #content #primary #testimonials {
      width: 100%; }

#categories a.category {
  font-family: Ubuntu, Nevis, Sans;
  text-decoration: none;
  color: black;
  margin: 4px 0;
  font-size: 1.2em;
  display: block; }
  #categories a.category:hover {
    text-decoration: underline; }

.clear {
  clear: both; }
