#content .category
  :margin-top 40px
  .title
    margin-top: 12px
    font:
      family: Nevis
      size: 2.8em
    color: black
    text-transform: uppercase
    text-decoration: none
    margin: 0
    padding: 0
    &:hover
      text-decoration: underline

  .description
    :padding 0
    :margin 0
    :font-family Ubuntu
    :font-weight normal
    :font-size 1.6em

  .article
    margin-top: 16px
    a
      font:
        family: Nevis
        size: 1.6em
      color: black
      text-transform: uppercase
      text-decoration: none
      margin: 0
      padding: 0
      &:hover
        text-decoration: underline
  .body
    :padding 0
    :margin 0
    :font-family Ubuntu
    :font-weight normal
    :font-size 1.2em

.resource_links, .active_category
  :display block
  a, input
    :background white
    :color #666
    :font-weight normal
    :border none
    :cursor pointer
    :text-decoration none
    :font-family Absolut
    :font-size 1.6em
    &:hover
      :text-decoration underline
  form, div
    display: inline
