%h5 Topics
= render :partial => "nav/category", :collection => Category.all
- if Article.uncategorized.count > 0
  = link_to "Uncategorized (#{Article.uncategorized.count})", uncategorized_articles_path, :class => "category"
